<ion-content
  class="ion-text-center ion-align-items-center"
  style="height: 100vh"
>
  <ion-grid class="ion-justify-content-center">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-img
          src="assets/img/500.webp"
          alt="500 - Internal Server Error"
          class="not-found-image"
        ></ion-img>
        <h1>Error Intern</h1>
        <p>
          Disculpa, hi ha hagut un error intern. Torna a intentar-ho més tard.
        </p>
        <ion-button
          expand="full"
          fill="solid"
          color="primary"
          routerLink="/refuges"
          >Ves a la llista de refugis</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
