<ion-content>
  <!-- Web Layout -->
  <div *ngIf="platformIsWeb; else mobileLayout" class="web-layout">
    <div class="web-container">
      <ion-row class="ion-justify-content-center" style="margin: 5% auto">
        <ion-datetime
          presentation="date"
          [(ngModel)]="pickedDate"
        ></ion-datetime>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button (click)="onSearch()">
          {{"RESERVATIONS.SEARCH" | translate}}
          <ion-icon name="folder"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-list>
        <ion-item>
          <ion-label> {{"RESERVATIONS.USERNAME" | translate}} </ion-label>
          <ion-note slot="end"> {{"RESERVATIONS.PHONE" | translate}} </ion-note>
          <ion-note slot="end" color="danger">
            {{"RESERVATIONS.EMERGENCY" | translate}}
          </ion-note>
        </ion-item>
        <ion-item *ngFor="let user of users">
          <ion-label> {{ user.username }} </ion-label>
          <ion-note slot="end"> {{ user.phone_number }} </ion-note>
          <ion-note slot="end" color="danger">
            {{ user.emergency_number }}
          </ion-note>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <!-- Mobile Layout -->
  <ng-template #mobileLayout>
    <div class="mobile-layout">
      <ion-row>
        <ion-datetime
          presentation="date"
          [(ngModel)]="pickedDate"
        ></ion-datetime>
        <ion-button (click)="onSearch()">
          {{"RESERVATIONS.SEARCH" | translate}}
          <ion-icon name="folder"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-list>
        <ion-item>
          <ion-label> {{"RESERVATIONS.USERNAME" | translate}} </ion-label>
          <ion-note slot="end"> {{"RESERVATIONS.PHONE" | translate}} </ion-note>
          <ion-note slot="end" color="danger">
            {{"RESERVATIONS.EMERGENCY" | translate}}
          </ion-note>
        </ion-item>
        <ion-item *ngFor="let user of users">
          <ion-label>
            <h3>{{ user.username }}</h3>
          </ion-label>
          <ion-note slot="end">
            <h3>{{ user.phone_number }}</h3>
          </ion-note>
          <ion-note slot="end" color="danger">
            <h3>{{ user.emergency_number }}</h3>
          </ion-note>
        </ion-item>
      </ion-list>
    </div>
  </ng-template>
</ion-content>
