<ion-content
  class="ion-text-center ion-align-items-center"
  style="height: 100vh"
>
  <ion-grid class="ion-justify-content-center">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-img
          src="assets/img/programming-error.webp"
          alt="Programming Error"
          class="not-found-image"
        ></ion-img>
        <h1>Error de programació</h1>
        <p>
          Ho sentim, però hi ha hagut un error de programació i no s'ha pogut
          mostrar la pàgina que busques.
        </p>
        <ion-button
          expand="full"
          fill="solid"
          color="primary"
          routerLink="/refuges"
          >Ves a la llista de refugis</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
