<ion-content
  class="ion-text-center ion-align-items-center"
  style="height: 100vh"
>
  <ion-grid class="ion-justify-content-center">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-img
          src="assets/img/programming-error.webp"
          alt="Programming Error"
          class="not-found-image"
        ></ion-img>
        <h1>{{ 'PROGRAMMING_ERROR.HEADER' | translate}}</h1>
        <p>{{ 'PROGRAMMING_ERROR.MESSAGE' | translate}}</p>
        <ion-button
          expand="full"
          fill="solid"
          color="primary"
          routerLink="/refuges"
        >
          {{ 'PROGRAMMING_ERROR.EXIT' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
