<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img
      src="../../../assets/img/logo.png"
      alt="Test image for the login page"
    />
  </div>

  <div class="login-form">
    <form #loginForm="ngForm" novalidate>
      <ion-input
        label="Username"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="John Doe"
        fill="outline"
        [(ngModel)]="credentials.username"
        name="username"
        errorText="Username is required"
        required="true"
      >
      </ion-input>

      <ion-input
        label="Password"
        labelPlacement="stacked"
        fill="outline"
        [(ngModel)]="credentials.password"
        name="password"
        type="password"
        errorText="Password is required"
        required="Password is required"
      >
      </ion-input>
      <ion-note color="danger" *ngIf="hasError"> {{errorMessage}} </ion-note>

      <ion-row>
        <!--        <ion-col>-->
        <ion-button (click)="onLogin(loginForm)" type="submit" expand="block"
          >Login
        </ion-button>
        <!--        </ion-col>-->
      </ion-row>
    </form>
  </div>
</ion-content>
