<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title> {{'REFUGES.LIST.HEADER' | translate}} </ion-title>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar
          show-clear-button="always"
          placeholder="{{'REFUGES.LIST.SEARCH' | translate}}"
          [(ngModel)]="searchTerm"
          (ionInput)="searchByName()"
          [debounce]="250"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        routerLink="/refuges/{{refuge.id}}"
        *ngFor="let refuge of refuges | async"
        size-lg="6"
        size-md="6"
        size-sm="12"
        size="12"
      >
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col
                class="ion-padding"
                size-lg="4"
                size-md="4"
                size-sm="4"
                size="12"
              >
                <ion-avatar>
                  <img
                    ngSrc="{{getImageUrlFor(refuge)}}"
                    alt="Refuge image"
                    fill="auto"
                  />
                </ion-avatar>
              </ion-col>

              <ion-col
                class="ion-padding"
                size-lg="4"
                size-md="4"
                size-sm="4"
                size="12"
              >
                <div class="refuge-name">{{refuge.name}}</div>
                <p>
                  {{'REFUGES.FORM.REGION.LABEL' | translate}}<br />
                  <strong> {{refuge.region}} </strong>
                </p>
                <p>
                  {{'REFUGES.FORM.ALTITUDE.LABEL' | translate}}<br />
                  <strong>
                    {{refuge.altitude}} {{'REFUGES.LIST.METRES' | translate}}
                  </strong>
                </p>
                <p>
                  {{'REFUGES.LIST.CAPACITY' | translate}}<br />
                  <strong
                  >- {{'REFUGES.LIST.WINTER' | translate}}:
                    {{refuge.capacity.winter}}
                  </strong>
                  <br />
                  <strong
                  >- {{'REFUGES.LIST.SUMMER' | translate}}:
                    {{refuge.capacity.summer}}
                  </strong>
                  <br />
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
